@page
@model Sample.Pages.test2Model
@{
    ViewData["Title"] = "test2";
    ViewBag.WhyNotThis = "what the hell";
    ViewData["AnyKey"] = "Hello this works too";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>test2</h2>


